* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 19px;
  line-height: 150%;
  color: #333333;
}

.header-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  background-color: #253847;
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.header-right {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: center;
}

.conteiner-photo {
  width: 250px;
  height: 250px;
  border-radius:50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #EFEFEF;
}

.conteiner-photo > img {
  width: 100%;
}

h1 {
  color: #3D3D3D;
  font-size: 70px;
  text-align: center;
  margin-top: 10%;
}

h1 > span {
  text-transform: uppercase;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 45%;
  border: 1.5px solid #3D3D3D;
}

.vacancy {
  color: #3D3D3D;
  font-size: 30px;
  text-align: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.nav-list {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  transition: 0.7s;
}

.nav-list > li > a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #3D3D3D;
  font-weight: 800;
  font-size: 17px;
  padding: 5px;
  transition: 0.5s;
}

.nav-list > li > a:hover {
  background: #253847;
  color: #EFEFEF;
  transition: 0.7s;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-aside {
  background-color: #253847;
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  min-height: 1000px;
  color: #EFEFEF;
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
  display: inline;
  padding-bottom: 5px;
  border-bottom: 3px solid #EFEFEF;
}

.container-contact-information,
.container-skills,
.container-languages {
  margin-top: 15px;
}

.container-contact-information,
.container-languages {
display: flex;
}

.messenger {
  font-size: 16px;
}

.contacts,
.my-lang {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contacts > p > a {
  position: relative;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 19px;
  line-height: 150%;
  transition: 0.4s;
}

a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #EFEFEF;
	content: "";
	transition: all 0.4s ease-out;
}

.contacts > p > a:hover:after {
  width: 100%;
  transition: 0.4s;
}

.container-skills > ul  {
  padding-left: 15px;
}

.lang > p {
  font-size: 21px;
  font-weight: 800;
}

.main-article {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 1000px;
}

h3 {
  display: inline;
  padding-bottom: 5px;
  border-bottom: 3px solid #333333;
}

h3 ~ * {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 ~ ul,
h3 ~ ol {
  margin-left: 40px;
}

pre {
  margin: 0;
}

code {
  font-size: 15px;
  line-height: 15px;
}

.container-footer {
  background-color: #EFEFEF;
  display: flex;
  min-height: 160px;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container-footer > div > a {
  display: flex;
  cursor: pointer;
  transition: 0.7s;
}

.container-footer > div > a:hover {
  transform: scale(1.2);
}

.container-footer > div > a > img {
  height: 85px;
}

.year > p {
  font-size: 30px;
  font-weight: 800;
}